<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="abort()">
        <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bookify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-text>Dienstleistung</ion-text>
  <ion-list>
    <ion-item class="booking" lines="full" button>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>
        <h2>Hochzeit (bis 50 Pers.)</h2>
      </ion-label>
    </ion-item>
    <ion-item class="booking" lines="full" button>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>
        <h2>Hochzeit (bis 100 Pers.)</h2>
      </ion-label>
    </ion-item>
    <ion-item class="booking" lines="full" button>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>
        <h2>Hochzeit (ab 100 Pers.)</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
