<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bookify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="resetPassword()">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-icon slot="end" name="mail"></ion-icon>
      <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">E-Mail ungültig</ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Passwort zurücksetzen</ion-button>
  </form>

  <ion-button expand="full" (click)="navigateToSignIn()">Zurück zur Anmeldung</ion-button>
</ion-content>
