<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Bookify
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div class = "nextAppointmentButtons">
    <ion-text>Nächster Termin</ion-text>
    <ion-text color="primary" type="button">Alle anzeigen</ion-text>
  </div>
  <ion-item lines="full">
    <ion-avatar class="image-center" slot="start">
      <img src="../../assets/home/event_FILL0_wght400_GRAD0_opsz48.svg">
    </ion-avatar>
    <ion-label>
      <h2>Hochzeit (200 Pers.)</h2>
      <h3>Timmy Trumpet</h3>
    </ion-label>
    <ion-label slot="end">
      <ion-text>morgen</ion-text>
    </ion-label>
  </ion-item>
  <ion-button class="ion-margin-vertical" expand="block">Neuer Termin</ion-button>
  <ion-text>Vergangene Termine</ion-text>
  <ion-list>
    <ion-item lines="full">
      <ion-avatar class="image-center" slot="start">
        <img src="../../assets/home/event_available_FILL0_wght400_GRAD0_opsz48.svg">
      </ion-avatar>
      <ion-label>
        <h2>Hochzeit (200 Pers.)</h2>
        <h3>Timmy Trumpet</h3>
      </ion-label>
      <ion-label slot="end">
        <ion-text>04.06.2022</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-avatar class="image-center" slot="start">
        <img src="../../assets/home/event_available_FILL0_wght400_GRAD0_opsz48.svg">
      </ion-avatar>
      <ion-label>
        <h2>Geburtstag (50 Pers.)</h2>
        <h3>Holger Hodenkobold</h3>
      </ion-label>
      <ion-label slot="end">
        <ion-text>11.05.2021</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
