<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bookify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="signIn()">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-icon slot="end" name="mail"></ion-icon>
      <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">E-Mail ungültig</ion-note>
    </ion-item>

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-icon slot="end" name="key"></ion-icon>
      <ion-input type="password" placeholder="Passwort" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Passwort ungültig</ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Anmelden</ion-button>
  </form>

  <ion-button expand="full" (click)="navigateToResetPassword()">Passwort vegessen?</ion-button>
  <ion-button expand="full" (click)="navigateToSignUp()">Neues Konto erstellen</ion-button>
</ion-content>
