ion-toolbar {
  color: var(--ion-color-light);
}

ion-label h2, ion-text {
  font-weight: bold;
}

.nextAppointmentButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}
